body {
  font-family: helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
  color: seashell;
  margin: 0px;
  background-color: black;
}
header {
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}
.head {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  height: 50px;
  padding-left: 10px;
}
nav {
  flex-grow: 1;
  text-align: right;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  text-decoration: underline;
  color: seashell;
}
.main-content {
  width: 1200px;
  opacity: .9;
  padding-top: 70px;
  display: inline-block;
}
#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission .text {
  background-color: black;
  width: 100%;
  margin: auto;
}
